<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zhixiangsingle.dao.unit.MeteringUnitMapper">
	<sql id="Base_Column_List">
		id, meteringname meteringName,deletestatus deleteStatus
	</sql>
    <sql id="selectAllKey">
        <trim suffixOverrides=",">
			<if test="id != null" >
				mu.id,
			</if>
            <if test="meteringName != null and meteringName != ''" >
				mu.meteringname meteringName,
            </if>
            <if test="deleteStatus != null and deleteStatus != ''" >
				mu.deletestatus deleteStatus,
            </if>
			<if test="sdId != null and sdId != -1" >
				#{sdId} sdId,
			</if>
			<if test="siteName != null and siteName != ''" >
				#{siteName} siteName,
			</if>
			<if test="sitePhoto != null and sitePhoto != ''" >
				#{sitePhoto} sitePhoto,
			</if>
			<if test="picturePrefix != null and picturePrefix != ''" >
				#{picturePrefix} picturePrefix,
			</if>
        </trim>
    </sql>
	<sql id="insertAllKey">
		<trim suffixOverrides=",">
			<if test="meteringName != null and meteringName != ''" >
				meteringname,
			</if>
			<if test="deleteStatus != null and deleteStatus != ''" >
				deletestatus,
			</if>
		</trim>
	</sql>
	<sql id="insertAllValue">
		<trim suffixOverrides=",">
			<if test="meteringName != null and meteringName != ''" >
				#{meteringName},
			</if>
			<if test="deleteStatus != null and deleteStatus != ''" >
				#{deleteStatus},
			</if>
		</trim>
	</sql>
	<sql id="updateAllValue">
		<trim suffixOverrides=",">
			<if test="meteringName != null and meteringName != ''" >
				meteringname = #{meteringName,jdbcType=VARCHAR},
			</if>
			<if test="deleteStatus != null and deleteStatus != ''" >
				deletestatus = #{deleteStatus,jdbcType=VARCHAR},
			</if>
		</trim>
	</sql>
    <sql id="whereAllValue">
        <where>
            <if test='meteringName != null and meteringName != "" and meteringName != "m" ' >
                AND mu.meteringname like CONCAT('%', #{meteringName} , '%')
            </if>
			<if test="id != null and id != -1" >
				AND mu.id = #{id}
			</if>
            <if test='deleteStatus != null and deleteStatus != "" and deleteStatus !="d"' >
                AND mu.deletestatus = #{deleteStatus}
            </if>
        </where>
		ORDER BY
		mu.id DESC
		<if test='start != null and start != -1' >
			LIMIT #{start},#{end}
		</if>
    </sql>
	<!-- 查找所有分类记录条数 start -->
	<select id="findCategoryBaseTotal" resultType="java.lang.Integer">
		SELECT
			COUNT(mu.id)
		FROM
			meteringunit mu
		<include refid="whereAllValue"/>
	</select>
	<!-- 查找所有分类记录条数 end -->
	<!-- 查找所有食材记录 start -->
	<select id="findMeteringUnitList" resultType="java.util.Map">
		SELECT
			<include refid="selectAllKey"/>
		FROM
			meteringunit mu
		<include refid="whereAllValue"/>
	</select>
	<!-- 查找所有食材记录 end -->

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		DELETE FROM meteringunit
        WHERE id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="cn.zhixiangsingle.entity.base.user.User">
		INSERT INTO meteringunit(<include refid="insertAllKey"/>) VALUES(<include refid="insertAllValue"/>);
	</insert>
	<update id="updateByPrimaryKey" parameterType="cn.zhixiangsingle.entity.base.user.User">
		UPDATE meteringunit
		<set >
			<include refid="updateAllValue"/>
		</set>
		WHERE id = #{id,jdbcType=INTEGER}
	</update>
</mapper>