<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="provider" />
    <dubbo:provider timeout="12000"/>
    <!-- 注册中心的ip地址 ip最好不要用127.0.0.1会出现缓存文件锁问题 -->
    <dubbo:registry address="zookeeper://192.168.0.102:2181"/><!-- file="dubboregistry/dubbo-registry.properties" -->
    <!-- 用dubbo在20881端口暴露服务-->
   <!--<dubbo:protocol name="dubbo" port="20883"/>-->
    <!-- 扫描注解包路径，多个包用逗号分隔，不填pacakge表示扫描当前ApplicationContext中所有的类 -->
    <dubbo:annotation package="cn.zhixiangsingle.impl"/>
</beans>